{% extends 'base.html' %}
{% block content %}

<div class="mb-3">
    <a href="/" class="btn btn-dark">Regresar a inicio</a>
</div>

<h2 class="mb-4">Editar producto</h2>

<div class="row">
    {% for p in productos %}
    <div class="col-md-2 mb-3">
        <div class="card h-100">

            <img src="/static/img/{{ p.imagen }}" class="card-img-top" alt="{{ p.titulo }}">

            <div class="card-body text-center">
                <h5 class="card-title">{{ p.titulo }}</h5>
                <p class="card-text">${{ p.precio }}</p>

                <a href="/editar_producto/{{ p.id }}" class="btn btn-warning btn-sm mt-2">
                    Editar
                </a>

            </div>

        </div>
    </div>
    {% endfor %}
</div>

{% endblock %}
